@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --scissor-from: 39deg 89% 49%;
    --scissor-to: 40deg 84% 53%;

    --paper-from: 230, 89%, 62%;
    --paper-to: 230, 89%, 65%;

    --rock-from: 349, 71%, 52%;
    --rock-to: 349, 70%, 56%;

    --dark: 229deg, 25%, 31%;
    --grey: 229deg, 64%, 46%;
    --outline: 217deg, 16%, 45%;

    --radial-from: 214deg, 47%, 23%;
    --radial-to: 237deg, 49%, 15%;
  }
}

/*
  Took this from my personal project specifically:
  https://github.com/edmondwong6279/ew.monorepo/blob/main/apps/ew.website/app/globals.css#L19-L60
 */

dialog {
  display: none;
  opacity: 0;
  scale: 0.7;

  transition-timing-function: ease-in-out;
  transition-property: display scale opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

dialog[open] {
  display: block;
  opacity: 1;
  scale: 1;

  @starting-style {
    opacity: 0;
    scale: 1.2;
  }
}

dialog::backdrop {
  opacity: 0;
  background-color: black;

  transition-property: opacity display overlay;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

dialog[open]::backdrop {
  opacity: 0.5;
}

@starting-style {
  dialog[open]::backdrop {
    opacity: 0;
  }
}
